<a href="https://colab.research.google.com/github/navya-23/LetsUpgrade-python-b7/blob/master/day1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# List and its default functions:
# append(): Adds an element at the end of the list
Animals=['Dog','Elephant','Lion']
Animals.append('Tiger')
print(Animals)

['Dog', 'Elephant', 'Lion', 'Tiger']

In [4]:
#clear():	Removes all the elements from the list
Animals=['Dog','Elephant','Lion']
Animals.clear()
print(Animals)

[]

In [5]:
#copy():Returns a copy of the list
Animals=['Dog','Elephant','Lion']
x=Animals.copy()
print(x)

['Dog', 'Elephant', 'Lion']

In [10]:
#count():	Returns the number of elements with the specified value
Animals=['Dog','Elephant','Lion','Dog']
print(Animals.count('Dog'))

2

In [11]:
#extend():	Add the elements of a list (or any iterable), to the end of the current list
Animals=['Dog','Elephant','Lion']
x=['Tiger']
Animals.extend(x)
print(Animals)

['Dog', 'Elephant', 'Lion', 'Tiger']

In [14]:
#index():	Returns the index of the first element with the specified value
Animals=['Dog','Elephant','Lion']
print(Animals.index('Elephant'))

1

In [16]:
#insert():	Adds an element at the specified position
Animals=['Dog','Elephant','Lion']
Animals.insert(1,'Tiger')
print(Animals)

['Dog', 'Tiger', 'Elephant', 'Lion']

In [18]:
#pop():	Removes the element at the specified position
Animals=['Dog','Elephant','Lion']
Animals.pop(0)
print(Animals)

['Elephant', 'Lion']

In [20]:
#remove():	Removes the first item with the specified value
Animals=['Dog','Elephant','Lion']
Animals.remove('Elephant')
print(Animals)

['Dog', 'Lion']

In [22]:
#reverse():	Reverses the order of the list
Animals=['Dog','Elephant','Lion']
Animals.reverse()
print(Animals)

['Lion', 'Elephant', 'Dog']

In [23]:
#sort():	Sorts the list
Animals=['Elephant','Lion','Dog']
Animals.sort()
print(Animals)

['Dog', 'Elephant', 'Lion']

In [24]:
# Dictionaries and its default functions:
#clear():	Removes all the elements from the dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [25]:
#copy():	Returns a copy of the dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [26]:
#fromkeys():	Returns a dictionary with the specified keys and value
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [27]:
#get():	Returns the value of the specified key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [28]:
#items():	Returns a list containing a tuple for each key value pair
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [29]:
#keys():	Returns a list containing the dictionary's keys
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [30]:
#pop():	Removes the element with the specified key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [31]:
#popitem():	Removes the last inserted key-value pair
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [32]:
#setdefault():	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [33]:
#update():	Updates the dictionary with the specified key-value pairs
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [34]:
#values():	Returns a list of all the values in the dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [36]:
#sets and its default functions:
#add():	Adds an element to the set
Animals={'Dog','Elephant','Lion'}
Animals.add('Tiger')
print(Animals)

{'Dog', 'Lion', 'Tiger', 'Elephant'}

In [37]:
#clear():	Removes all the elements from the set
Animals={'Dog','Elephant','Lion'}
Animals.clear()
print(Animals)

set()

In [39]:
#copy():	Returns a copy of the set
Animals={'Dog','Elephant','Lion'}
x=Animals.copy()
print(x)

{'Dog', 'Lion', 'Elephant'}

In [40]:
#intersection():	Returns a set, that is the intersection of two other sets
a={1,2,3,4,5}
b={2,4,5,6,8}
print(a.intersection(b))

{2, 4, 5}

In [41]:
#union():	Return a set containing the union of sets
a={1,2,3,4,5}
b={2,4,5,6,8}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 8}

In [44]:
#tuple and its default functions:
#The count(): method returns the number of times element appears in the tuple
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
count = vowels.count('i')
print(count)

2

In [45]:
#The index(): method returns the index of the specified element in the tuple
# vowels tuple
vowels = ('a', 'e', 'i', 'o', 'i', 'u')

# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)

# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')

print('The index of i:', index)

The index of e: 1
The index of i: 2

In [46]:
# string and its default methods
#capitalize()	Converts the first character to upper case
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [51]:
#count():	Returns the number of times a specified value occurs in a string
txt = "I love mangoes, mangoes are my favorite fruit"

x = txt.count("mangoes")

print(x)

2

In [52]:
#find():	Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to letsupgrade."

x = txt.find("welcome")

print(x)

7

In [54]:
#lower():	Converts a string into lower case
txt = "Hello, welcome to letsupgrade."

x = txt.lower()

print(x)

hello, welcome to letsupgrade.

In [55]:
#replace():	Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"

x = txt.replace("bananas", "mangoes")

print(x)

I like mangoes